
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@font-face {
  font-family: ProductSans;
  src: url('/fonts/ProductSans-Regular.woff');
}

// Variables
@import 'variables';

// Mixins
@import "mixins";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Core Styles
body {
  width: 100%;
  height: 100vh;
  font-size: 14px;
}

html, body, h1, h2, h3, h4, h5, span, p, div, label, li {
  font-family: 'ProductSans';
}

section.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: $gradient;

  &.dashboard, &.profile, &.todo, &.reminder, &.settings {
    #header {
      display: none;
    }
    #body {
      height: 100%;
    }

  }


  #header {
    height: 100px;
    padding-top: 15px;
    a:hover {
      text-decoration: none;
    }
    h1.logo {
      font-family: 'ProductSans';
      color: #fff;
    }
  }
}

nav {
  ul.list-inline {
    li {
      display: inline-block;
      margin: 0px 10px;
      a {
        color: #fff;
      }
    }
  }
}

.rappel-corner {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

#body {
  position: relative;
  height: calc(100% - 100px);
  > .parent {
    height: 100%;
  }
}


// FORM STUFF
.form-group {
  &.has-error {
    input, select {
      border: 1px solid red;
    }
  }
}

.form-group span.help-block {
  margin-top: 0.5rem;
  display: block;
}

//OVERRIDE BOOTSTRAP ALERT STYLE
.alert {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: calc(100% - 4rem);
  @include tablet {
    width: 220px;
  }
  @include desktop {
    width: 300px;
  }
}

//CONTENT
#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  padding: 20px;
  @include desktop {
    width: calc(100% - 100px);
    height: 100%;
    margin-left: 100px;
  }
  .content-header {
    margin-bottom: 15px;
    &--text {
      color: $white;
      margin: 0;
    }
  }
  .content-body {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    flex: 1;
  }
  .content-section {
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    overflow: hidden;
    background: $white;

    &:not(:last-of-type) {
      margin-bottom: 20px;
      @include desktop {
        margin-right: 20px;
      }
    }
  }
}

