
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@font-face {
  font-family: ProductSans;
  src: url('/fonts/ProductSans-Regular.woff');
}

// Variables
@import 'variables';
// Mixins
@import "mixins";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Core Styles
body {
  width: 100%;
  height: 100vh;
  font-size: 14px;
}

html, body, h1, h2, h3, h4, h5, span, p, div, label, li {
  font-family: 'ProductSans';
}

section.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: $gradient;

  &.dashboard, &.profile, &.todo, &.reminder, &.settings {
    //#header {
    //  display: none;
    //}
    #body {
      height: 100%;
    }

  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  #header {
    height: 100px;
    padding-top: 15px;
    a:hover {
      text-decoration: none;
    }
    h1.logo {
      font-family: 'ProductSans';
      color: #fff;
    }
  }
}

nav {
  ul.list-inline {
    li {
      display: inline-block;
      margin: 0px 10px;
      a {
        color: #fff;
      }
    }
  }
}

.rappel-corner {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

#body {
  position: relative;
  height: calc(100% - 100px);
  > .parent {
    height: 100%;
  }
}


// FORM STUFF
.form-group {
  &.has-error {
    input, select {
      border: 1px solid red;
    }
  }
}

.form-group span.help-block {
  margin-top: 0.5rem;
  display: block;
}

//OVERRIDE BOOTSTRAP ALERT STYLE
.alert {
  position: fixed;
  top: 1.75rem;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 4rem);
  @include tablet {
    width: 220px;
  }
  @include desktop {
    width: 300px;
  }
}

//CONTENT
#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  padding: 20px;
  @include desktop {
    width: calc(100% - 100px);
    height: 100%;
    margin-left: 100px;
  }
  .content-header {
    margin-bottom: 15px;
    &--text {
      color: $white;
      margin: 0;
    }
  }
  .content-body {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
    }
    flex: 1;
  }
  .content-section {
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    overflow: hidden;
    background: $white;

    &:not(:last-of-type) {
      margin-bottom: 20px;
      @include desktop {
        margin-right: 20px;
      }
    }
  }
}

//FLEX WIDTHS

@for $i from 1 through 100 {
  #content .content-section.flex-basis-#{$i} {
    flex-basis: $i + 0%;
  }
}


//LOADING SPINNER
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 20% auto;
  @include desktop {
    margin: 40% auto;
  }
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,160, 0.2);
  border-right: 1.1em solid rgba(0,0,160, 0.2);
  border-bottom: 1.1em solid rgba(0,0,160, 0.2);
  border-left: 1.1em solid $purple;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

